*, ::before, ::after{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #3d395fab;
    font-family: Arial;
    color: black;
}

.game{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.game__board{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* clases añadidas en JS {hasta linea 92}*/ 

.cell{
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    display: grid;
    place-items: center;
    grid-template-areas: "draw";
    cursor: pointer;
}

.circle::after{
    content: "";
    grid-area: draw;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid white;
    animation: show ease-in .3s;
}

.cross::after{
    content: "";
    grid-area: draw;
    display: block;
    width: 10px;
    height: 70px;
    background-color: black;
    transform: rotate(45deg);
    border-radius: 10px;
    animation: show-reverse .3s;
}

.cross::before{
    content: "";
    grid-area: draw;
    display: block;
    width: 10px;
    height: 70px;
    background-color: black;
    transform: rotate(-45deg);
    border-radius: 10px;
    animation: show .3s;
}

@keyframes show {
    0%{
        transform: scale(0) rotate(-45deg);
    }
    100%{
        transform: scale(1) rotate(-45deg);
    }
}

@keyframes show-reverse {
    0%{
        transform: scale(0) rotate(45deg);
    }
    100%{
        transform: scale(1) rotate(45deg);
    }
}



.endgame{
    background-color: #000000bc;
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    display: grid;
    place-content: center;
}

.endgame__show{
    color: white;
    display: grid;
    gap: 1rem;
    text-align: center;
}

.endgame__button{
    background-color: dodgerblue;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 100px;
}

/* clase añadida en JS*/

.show{
    opacity: 1;
    pointer-events: unset;
}

.color-white{
    color: white;
}